<div class="bg-black">
<section class="footer pt-5">
    <div class="container">
      <div class="row pb-4">
        <div class="d-flex justify-content-center">
          <a routerLink=""><i class="fa-brands fa-facebook-f me-4 bg-primary p-3 rounded-pill"
              style="color: #ffffff;font-size: .9em;"></i></a>
          <a routerLink=""><i class="fa-brands fa-instagram me-4 bg-white p-3 rounded-pill"
              style="color: #bd31a8;"></i></a>
          <a routerLink=""><i class="fa-brands fa-linkedin-in me-4 bg-primary p-3 rounded-pill"
              style="color: #ffffff;"></i></a>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-2"><a class="nav-link active text-light" href="#">ABOUT</a></div>
        <div class="col-2"><a class="nav-link active text-light" href="#">CARE</a></div>
        <div class="col-2"><a class="nav-link active text-light" href="#">RETURNS</a></div>
        <div class="col-2"><a class="nav-link active text-light" href="#">PRODUCTIONS</a></div>
        <div class="col-2"><a class="nav-link active text-light" href="#">TERMS</a></div>
        <div class="col-2 border-0"><a class="nav-link active text-light" href="#">GET HELP</a></div>
      </div>
    </div>
  </section>
</div>
