<!--Footer page -->
<section class="footer">
  <div class="container">
      <div class="row pb-4">
        <!--Social media icons-->
          <div class="d-flex justify-content-center">
              <a href=""><img width="60" height="65" [src]="imgfb" alt="facebook-new" class="rounded-circle" /></a>
              <a href=""> <img width="60" height="65" [src]="imginsta" alt="instagram-new--v1" class="rounded-circle" /></a>
              <a href=""><img width="60" height="65" [src]="imgln" alt="linkedin" class="rounded-circle" /></a>
          </div>
      </div>
      <!--footer contents-->
      <div class="row">
          <div class="col-2">

              <a href="#">ABOUT</a>
          </div>
          <div class="col-2">
              <a href="#">CARE</a></div>
          <div class="col-2"><a href="#">RETURNS</a></div>
          <div class="col-2">
              <a href="#">PRODUCTION</a>
          </div>
          <div class="col-2">
              <a href="#">TERMS</a>
          </div>
          <div class="col-2 border-0">
              <a href="#">GET HELP</a>
          </div>
      </div>
  </div>
</section>