<!--Nav bar-->
<div class="bg-dark fixed-top">
    <div class="nav justify-content-center text-light">
      <h3>acecraft</h3>
    </div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="#">SCHOOL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" routerLink="college">COLLEGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" href="#">ENTERPRICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" href="#">NOTES&bull;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light" href="#">ARIEN MASK
        </a>
      </li>
    </ul>
    <div class="d-flex justify-content-end me-5" id="setting">
      <a class="nav-link text-light me-5" aria-current="page" href="#"><i class="pi pi-cog"
          style="font-size: 2rem"></i></a>
  
      <a class="nav-link text-light" href="#"><i class="pi pi-shopping-cart" style="font-size: 2rem"></i></a>
    </div>
  </div>
