<div class="card bg-dark mt-5" style="color:#978f8f;">
    <img src="{{img}}" class="card-img mt-5" alt="...">
    <div class="card-img-overlay">
        <div class="row ms-1 mt-5" id="cards">
            <div class="col-sm-6 mt-5"></div>
            <div class="col-sm-6 mt-5"><h1 class="mt-5 float-end me-5">The acecraft Collection.</h1>
                <p class="float-end me-5">Simple. Sharp.<br>
                Detailed perfection that makes you<br>                
                look good and feel great. Put it on. It's like magic.</p>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-6 mt-5"></div>
            <div class="row col-sm-6">
            <div class="col-4"><h4>Classic</h4></div>
            <div class="col-4"><h4>Absolute</h4></div>
            <div class="col-4 border-0"><h4>Signature</h4></div>
          </div></div>      
    </div>
  </div>
  <div class="container-fluid text-center">
    <img src="assets/img/woolenball.jpg" width="350px">
    <h2>Naturally Cutting-Edge.</h2>
    <span>The ‘best of both worlds’ has a new definition. Every fabric in<br>
       the acecraft line-up is made from a blend of two fibres to<br> give you the best range. No tech involved - it’s just the touch<br> 
       of nature.</span>
  
  <div class="container">
  <div class="row wool">
    <div class="col-md-6">
      <img src="assets/img/Wool.png" width="250px" class="mt-5 ms-5">
    </div>
    <div class="col-md-6 mt-5"><h2>The Blended Wool</h2>
      <span>Blended Wool is a class apart - with a mix of polyester<br> for its wrinkle/crease-resistance and wool for warmth and<br>
         absorbency, end your day looking the same as how you<br>began it.</span></div>
  </div></div>

  <div class="container">
    <div class="row wool">
      <div class="col-md-6 mt-5"><h2>The Blended Cotton</h2>
        <span class="float-left">The Blended Cotton is extremely strong and breathable.<br>
           Easy to iron, this variant shrinks lesser than pure cotton and<br>
            retains its colour, which makes it a favourite choice for your<br> everyday college wear.</span></div>
           <div class="col-md-6">
            <img src="assets/img/Cotton.png" width="250px" class="mt-5 ms-5">
          </div>
    </div></div>

    <div class="container">
      <div class="row wool">
        <div class="col-md-6">
          <img src="assets/img/Viscose.png" width="250px" class="mt-5 ms-5">
        </div>
        <div class="col-md-6 mt-5"><h2>The Blended Viscose</h2>
          <span> The Blended Viscose addition combines two ends of the<br>
             spectrum - durability and a sense of softness. While the<br>
             polyester contributes to resilience and shape retention, the<br>
             viscose adds on to the overall absorbency, both sharpening<br>
             and softening your look at the same time.</span></div>
      </div></div>
    </div>
    
    <div class="card text-white">
      <img src="assets/img/man.jpg" class="card-img" alt="...">
      <div class="card-img-overlay overlay">
        <div class="text-center">
          <span>ACECRAFT FIT</span>
          <h3>Comfy.<br>
            Very comfy.</h3>
            <span>It’s not just the fabric - it’s also the fit.<br>
              The shoulders and sleeves fit right while the body feels<br>relaxed, making it undoubtedly the best.</span>
        </div>
      </div>
    </div>

    <div class="card text-white">
      <img src="assets/img/wman.jpg" class="card-img" alt="...">
      <div class="card-img-overlay overlay">
        <div class="text-center">
          <h3>Designer Uniforms</h3>
          <Span><h4>acecraft</h4></Span> 
          <button type="button" class="btn btn-outline-light">Get in Touch</button>         
        </div>
      </div>
    </div>