<div class="card bg-dark text-white mt-5">
    <img src="{{img}}" class="card-img mt-5" alt="...">
    <div class="card-img-overlay">
        <div class="row ms-1 mt-5" id="cards">
            <div class="col-sm-6 mt-5"></div>
            <div class="col-sm-6 mt-5"><h1 class="mt-5">The acecraft Collection.</h1>
                <p>Simple. Sharp.
                Detailed perfection that makes you                
                look good and feel great. Put it on. It's like magic.</p>
                <div class="row text-center">
                    <div class="col-2"><a class="nav-link active text-light" href="#">ABOUT</a></div>
                    <div class="col-2"><a class="nav-link active text-light" href="#">CARE</a></div>
                    <div class="col-2 border-0"><a class="nav-link active text-light" href="#">GET HELP</a></div>
                  </div>
            </div>
          </div>      
    </div>
  </div>