<body>
    <section class="main">
        <div class="container-fluid p-0">
            <div class="row bg-white justify-content-center">
                <div class="col-5 text-center">
                    <a routerLink="/products" class="text-decoration-none">
                        <img src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/honda.png" height="50px" style="padding: 10px" />
                        <p class="m-0 fs-6 text-black" id="font">
                            HONDA CAR'S DEALER MANPOWER UNIFORM
                        </p>
                    </a>
                </div>
            </div>
            <div class="workwear">
                <div class="row bg-transprent justify-content-center">
                    <div class="col-5 gx-5 text-center">
                        <h5 class="ms-4 fw-bold fs-3">
                            Workwear that works.<br /><i id="key" class="fa-solid fa-chevron-down fs-3"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid bg-white pt-5 text-center" id="layout2">
        <h2 class="pt-3 fs-1 text-black fw-bold">Work Relaxed.</h2>
        <span class="fs-6 fst-normal"><p>When we designed our uniforms, we wore them to work every day.</p>
      <p>
        We still do. They're comfy, relaxed and designed to suit your workplace.
      </p>
    </span>
        <div class="container pt-5">
            <div class="row justify-content-between">
                <div *ngFor="let enterprise of enterpriseimages" [class]="enterprise.classname" style="border: none;">
                    <div class="card-body mt-5 ">
                        <h6 [class]="enterprise.text1class">{{enterprise.text1}}</h6>
                        <h2 [class]="enterprise.text2class">{{enterprise.text2}}</h2>
                        <h2 [class]="enterprise.text3class">{{enterprise.text3}}</h2>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>