<h4 class="text-center fs-1 fw-bold m-4 text-black">
  Blogs</h4>
<div class="container-fluid">
  <div class="row  justify-content-start">
      <ng-container *ngFor=" let details of notes ">
          <div class="col-9 col-lg-6 ">
              <div class="shadow-lg pt-2 ps-2 pe-2 pb-5 mb-5 bg-white ">
                  <a routerLink=" " class="text-center text-decoration-none ">
                      <div class=" bg-black text-white " style="padding-top: 120px;padding-bottom: 120px;font-size: 15px; "> {{details.p|uppercase}}</div>
                  </a>
              </div>
          </div>
      </ng-container>
  </div>
</div>