<body class="bg-black mt-5">
    <section class="main mt-5">
        <div class="container-fluid p-0">
            <div class="row bg-white ">
                <div class="text-center">

                    <ng-container *ngFor="let img of school_logo">
                        <a [routerLink]='img.link'> <img [src]='img.img' alt="logo" class="mt-2 bg-transprent mb-2 p-1" width="65px" style="margin-right: 70px;">
                        </a>

                    </ng-container>

                </div>
            </div>
            <div class="designer">
                <div class="row bg-transprent justify-content-center">
                    <div class="col-7 text-center">
                        <h5 class="ms-4 fw-normal fs-1">
                            Designer uniforms <b>for the doers.</b><br/><i class="fa-solid fa-chevron-down fa-beat-fade"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-black">
        <div class="container-fluid">
            <div id="text1">
                <div class="fs-1 text-center">
                    <p>Aesthetically advanced,</p>
                    <p> our designer uniforms are<b> a cut above the rest,</b></p>
                    <p><b>in every sense of the word.</b>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="main2">
        <div class="designer1 text-black">
            <div class="row bg-transprent justify-content-center">
                <div class="col-12 text-center">
                    <h6 class="ms-4  fw-normal fs-1" style="margin-top: 500px;">
                        Perfection. Now<b> delivering to your doorstep.</b><br/><i class="fa-solid fa-chevron-down fa-beat-fade"></i>
                    </h6>
                </div>
            </div>
        </div>
        <div class="designer1 text-black">
            <div class="row bg-transprent justify-content-center">
                <div class="col-12 text-center">
                    <p class="ms-4  fw-normal fs-2" style="margin-top: 270px;padding-bottom: 250px;">
                        Less<b> hassle.</b> More<b> hustle.</b><br/> Our end-to-end e-commerce facility with<br>
                        <b>superior technology enables us to<br>
                            deliver your order right to your doorstep.</b> </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-black">
        <div class="container">
            <div id="text2">
                <div class="text-end">
                    <p class="fs-1 m-0"><b>Be at ease.</b>
                    </p>
                    <p class="fs-1 m-0"> <b>Everyday.</b>
                    </p>

                    <p class="fs-4 fw-lighter">Our uniforms keep your children looking great<br> from the first day of school until the end-of-the-year picnic.
                    </p>
                </div>
                <img [src]="imgURL" class="img-responsive" width="100%">
            </div>
        </div>
    </section>
    <section class="main3">
        <div class="col-md-12 pt-5 content text-center">

            <div class="text-center pt-5 ms-mb-x">
                <p class="ms-m-0">Designer Uniforms</p>
                <p class="signature">by</p>
                <p class="fs-2 fw-lighter" style="font-family: 'Courier New', monospace;">acecraft</p>
            </div>

            <div class=" fs-4 fw-lighter">
                Establish a <b class="fw-bold">signature look</b> for your school.
            </div>

            <div class=" fs-4 fw-lighter mt-5">
                Looking to change your supplier?<br>
                <a class="btn border-white mt-5 text-white">Get In Touch</a>
            </div>

        </div>
    </section>
</body>
